<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.example.myplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>MyPlugin</name>
    <description>Cordova Plugin using Android AAR library</description>
    <license>MIT</license>
    <keywords>cordova, plugin, android, aar</keywords>
    <repo>https://github.com/example/my-plugin</repo>
    <issue>https://github.com/example/my-plugin/issues</issue>
    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>
    
    <platform name="android">
        <source-file src="src/android/MyPlugin.java" target-dir="src/main/java/com/example/myplugin" />
        <framework src="src/android/driver.gradle" custom="true" type="gradleReference" />

<source-file src="aar/DriverCardOCRLibrary.aar" target-dir="app/libs" />
      
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin" >
                <param name="android-package" value="com.example.myplugin.MyPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
    
    <js-module src="www/MyPlugin.js" name="MyPlugin">
        <clobbers target="MyPlugin" />
    </js-module>
</plugin>
